In [3]:
import pandas as pd
import json
# Convert JSON string to Pandas DataFrame
df = pd.read_json("orders.json")

# Print DataFrame
print(df.head())

   order_id       customer                                           products  \
0  ORD-1001       John Doe  [{'name': 'Laptop', 'price': 999.99, 'quantity...
1  ORD-1002     Jane Smith  [{'name': 'Smartphone', 'price': 699.99, 'quan...
2  ORD-1003  Alice Johnson  [{'name': 'Tablet', 'price': 499.99, 'quantity...
3  ORD-1004      Bob Brown  [{'name': 'Headphones', 'price': 199.99, 'quan...
4  ORD-1005  Charlie Davis  [{'name': 'Monitor', 'price': 299.99, 'quantit...

   order_date      status
0  2024-01-25     Shipped
1  2024-01-24  Processing
2  2024-01-23   Delivered
3  2024-01-22   Cancelled
4  2024-01-21     Shipped

In [5]:
print(df.iloc[0] )

order_id                                               ORD-1001
customer                                               John Doe
products      [{'name': 'Laptop', 'price': 999.99, 'quantity...
order_date                                           2024-01-25
status                                                  Shipped
Name: 0, dtype: object

In [13]:
df_not_cancelled = df[df["status"]!="Cancelled"]

In [14]:
df_not_cancelled.head()

,order_id,customer,products,order_date,status
0,ORD-1001,John Doe,"[{'name': 'Laptop', 'price': 999.99, 'quantity...",2024-01-25,Shipped
1,ORD-1002,Jane Smith,"[{'name': 'Smartphone', 'price': 699.99, 'quan...",2024-01-24,Processing
2,ORD-1003,Alice Johnson,"[{'name': 'Tablet', 'price': 499.99, 'quantity...",2024-01-23,Delivered
4,ORD-1005,Charlie Davis,"[{'name': 'Monitor', 'price': 299.99, 'quantit...",2024-01-21,Shipped
5,ORD-1006,Eve White,"[{'name': 'Gaming Keyboard', 'price': 129.99, ...",2024-01-20,Processing

In [18]:
for element in df_not_cancelled["products"].iloc[0]:
    print(f"Prouct: {element}" )

Prouct: {'name': 'Laptop', 'price': 999.99, 'quantity': 1}
Prouct: {'name': 'Mouse', 'price': 19.99, 'quantity': 1}