# Exercise 1 - pandas repetition

## 0.Working with national test data

In [9]:
# a) Start with reading in the file riket2023_åk9_np.xlsx and the sheets for the different subjects.

import pandas as pd

national_test_file_path = "data/riket2023_åk9_np.xlsx"

sheet_names = pd.ExcelFile(national_test_file_path).sheet_names
# iterate through names
# read each sheet into a dictionary of dataframes
df_dict = {}
for sheet_name in sheet_names[:-1]:
    df_dict[sheet_name] = pd.read_excel(
        national_test_file_path, skiprows=8, sheet_name=sheet_name
        )

df_dict.keys()

dict_keys(['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk'])

In [10]:
df_dict["Engelska"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [11]:
df_dict["Matematik"]

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [14]:
subjects = list(df_dict.keys())
subjects

['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk']

## b) change name of columns

In [15]:
# b) Change the column names to get something similar to this:
# Plats	Huvudman	Totalt (A-F)	Flickor (A-F)	Pojkar (A-F)	
#                   Totalt (A-E)	Flickor (A-E)	Pojkar (A-E)	
#                   Totalt (poäng)	Flickor (poäng)	Pojkar (poäng)

df_dict["Engelska"].columns

Index(['Riket', 'Typ av huvudman', 'Totalt', 'Flickor', 'Pojkar', 'Totalt ',
       'Flickor ', 'Pojkar ', 'Totalt  ', 'Flickor  ', 'Pojkar  '],
      dtype='object')

In [29]:
import numpy as np
postfixes = [""]*2 + [" (A-F)"]*3 + [" (A-E)"]*3 + [" (poäng)"]*3

print(len(postfixes))
postfixes

# it is possible to add arrays in python, but they need to have equally many elements

11

['',
 '',
 ' (A-F)',
 ' (A-F)',
 ' (A-F)',
 ' (A-E)',
 ' (A-E)',
 ' (A-E)',
 ' (poäng)',
 ' (poäng)',
 ' (poäng)']

In [30]:
# addition by element
df_dict["Engelska"].columns.str.strip() + np.array(postfixes)

Index(['Riket', 'Typ av huvudman', 'Totalt (A-F)', 'Flickor (A-F)',
       'Pojkar (A-F)', 'Totalt (A-E)', 'Flickor (A-E)', 'Pojkar (A-E)',
       'Totalt (poäng)', 'Flickor (poäng)', 'Pojkar (poäng)'],
      dtype='object')