## Exercise 1 - pandas repetition

#### 2. Olympic games data

#### We will not create a separate duckdb database in this exercise, instead we'll query a pandas dataframe directly and return a dataframe.

#### a) Start with reading in the dataset into a dataframe using pandas.

In [3]:
import pandas as pd

athlete_events_file_path = "data/athlete_events.csv"

athlete_events_df = pd.read_csv(
        athlete_events_file_path
        )

athlete_events_df.keys()

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [4]:
noc_file_path = "data/noc_regions.csv"

noc_df = pd.read_csv(
        noc_file_path
        )

noc_df.keys()

Index(['NOC', 'region', 'notes'], dtype='object')

#### b) Now here is the code for using duckdb on pandas and it will return a df

In [8]:
import duckdb

my_df = duckdb.query(
    """
    SELECT * 
    FROM athlete_events_df
    """
    ).df()

In [9]:
my_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None

#### c) Use pandas columns method to find out the columns