## Code alongs - python fundamentals 1

In [ ]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

In [ ]:
age = input("Give me your age:")

print(f"In five years you are {int(age) + 5} years old")

KeyboardInterrupt: Interrupted by user

In [5]:
#tuple
# in jupyter notebook: the __repr__ of the object instance is outputted for the last line
age, type(age)

('39', str)

In [8]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [9]:
print(f"{loves_math =}")

loves_math =True

## Collections

- list
- tuples
- sets
- dictionary

In [11]:
# list of one data type only
interests = ["badminton", "yoga", "math", "programming"]

# list of mixed data types
person = ["Kokchun", 33, True]

person

['Kokchun', 33, True]

In [12]:
interests

['badminton', 'yoga', 'math', 'programming']

In [13]:
type(person)

list

In [14]:
type(person[1])

int

In [15]:
interests[1:3]

['yoga', 'math']

In [16]:
interests[-1]

'programming'

In [17]:
interests[::-1]

['programming', 'math', 'yoga', 'badminton']

In [18]:
person.append(interests)

In [19]:
person

['Kokchun', 33, True, ['badminton', 'yoga', 'math', 'programming']]

In [20]:
person[-1]

['badminton', 'yoga', 'math', 'programming']

In [23]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [25]:
persons_interests = person[-1]
persons_interests[-2]

'math'

In [27]:
for interest in persons_interests:
    print(interest)

badminton
yoga
math
programming

In [28]:
# java:
# for (int i=0; i< person_interests.length; i++) {
#       System.out.println(persons_interests[i])
# }

print("\nDon't do this!")
for i in range(len(persons_interests)):
    print(persons_interests[i])

Don't do this!
badminton
yoga
math
programming

In [30]:
# not pythonic
print("\nSTILL Don't do this!")
for i in range(len(persons_interests)):
    print(i+1, persons_interests[i])

STILL Don't do this!
1 badminton
2 yoga
3 math
4 programming

In [34]:
# pythonic
for i,interest in enumerate(persons_interests,1):
    print(i,interest)

1 badminton
2 yoga
3 math
4 programming

## List creation

- append
- list comprehension

In [36]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i%2]
odd_numbers_squared

[1, 9, 25, 49, 81]

## Dictionary
- key : value pairs

In [44]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modelling": 30,
    "visualisation" : 40
}

In [45]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modelling', 'visualisation'])

In [46]:
len(courses.keys())

6

In [47]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [48]:
# loop through dict means to loop through keys
for course in courses: 
    print(course)

python
agile
sql
data_platform
data_modelling
visualisation

In [50]:
for course in courses: 
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modelling 30
visualisation 40

In [55]:
# this way we loop though both key and value
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course               Points
python               40
agile                15
sql                  30
data_platform        40
data_modelling       30
visualisation        40

# Strings

In [56]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [61]:
# tips - do it in steps if you do now know what you are doing :)
" ".join(ml_term.strip().split()).lower()

'supervised learning'