In [1]:
import pandas as pd
import json
# Convert JSON string to Pandas DataFrame
df = pd.read_json("orders.json")

# Print DataFrame
print(df.head())

   order_id       customer                                           products  \
0  ORD-1001       John Doe  [{'name': 'Laptop', 'price': 999.99, 'quantity...
1  ORD-1002     Jane Smith  [{'name': 'Smartphone', 'price': 699.99, 'quan...
2  ORD-1003  Alice Johnson  [{'name': 'Tablet', 'price': 499.99, 'quantity...
3  ORD-1004      Bob Brown  [{'name': 'Headphones', 'price': 199.99, 'quan...
4  ORD-1005  Charlie Davis  [{'name': 'Monitor', 'price': 299.99, 'quantit...

   order_date      status
0  2024-01-25     Shipped
1  2024-01-24  Processing
2  2024-01-23   Delivered
3  2024-01-22   Cancelled
4  2024-01-21     Shipped

In [2]:
print(df.iloc[0] )

order_id                                               ORD-1001
customer                                               John Doe
products      [{'name': 'Laptop', 'price': 999.99, 'quantity...
order_date                                           2024-01-25
status                                                  Shipped
Name: 0, dtype: object

In [3]:
df_not_cancelled = df[df["status"]!="Cancelled"]

In [4]:
df_not_cancelled.head()

,order_id,customer,products,order_date,status
0,ORD-1001,John Doe,"[{'name': 'Laptop', 'price': 999.99, 'quantity...",2024-01-25,Shipped
1,ORD-1002,Jane Smith,"[{'name': 'Smartphone', 'price': 699.99, 'quan...",2024-01-24,Processing
2,ORD-1003,Alice Johnson,"[{'name': 'Tablet', 'price': 499.99, 'quantity...",2024-01-23,Delivered
4,ORD-1005,Charlie Davis,"[{'name': 'Monitor', 'price': 299.99, 'quantit...",2024-01-21,Shipped
5,ORD-1006,Eve White,"[{'name': 'Gaming Keyboard', 'price': 129.99, ...",2024-01-20,Processing

In [5]:
def print_info(row):
    print(f"Input: {row.to_dict()} ")
    total_price = 0
    for element in row["products"]:
        total_price +=element["quantity"]*element["price"]
        print(f"Product: {element["name"]}\t\tQuantity: {element["quantity"]}\tPrice: {element["price"]}" )
        
    print(f"Total price: {total_price}")
    print()

In [6]:
df.apply(lambda row: print_info(row), axis=1)

Input: {'order_id': 'ORD-1001', 'customer': 'John Doe', 'products': [{'name': 'Laptop', 'price': 999.99, 'quantity': 1}, {'name': 'Mouse', 'price': 19.99, 'quantity': 1}], 'order_date': '2024-01-25', 'status': 'Shipped'}
Product: Laptop		Quantity: 1	Price: 999.99
Product: Mouse		Quantity: 1	Price: 19.99
Total price: 1019.98

Input: {'order_id': 'ORD-1002', 'customer': 'Jane Smith', 'products': [{'name': 'Smartphone', 'price': 699.99, 'quantity': 1}, {'name': 'Charger', 'price': 29.99, 'quantity': 2}], 'order_date': '2024-01-24', 'status': 'Processing'}
Product: Smartphone		Quantity: 1	Price: 699.99
Product: Charger		Quantity: 2	Price: 29.99
Total price: 759.97

Input: {'order_id': 'ORD-1003', 'customer': 'Alice Johnson', 'products': [{'name': 'Tablet', 'price': 499.99, 'quantity': 1}], 'order_date': '2024-01-23', 'status': 'Delivered'}
Product: Tablet		Quantity: 1	Price: 499.99
Total price: 499.99

Input: {'order_id': 'ORD-1004', 'customer': 'Bob Brown', 'products': [{'name': 'Headphones', 'price': 199.99, 'quantity': 1}, {'name': 'Microphone', 'price': 79.99, 'quantity': 1}], 'order_date': '2024-01-22', 'status': 'Cancelled'}
Product: Headphones		Quantity: 1	Price: 199.99
Product: Microphone		Quantity: 1	Price: 79.99
Total price: 279.98

Input: {'order_id': 'ORD-1005', 'customer': 'Charlie Davis', 'products': [{'name': 'Monitor', 'price': 299.99, 'quantity': 2}], 'order_date': '2024-01-21', 'status': 'Shipped'}
Product: Monitor		Quantity: 2	Price: 299.99
Total price: 599.98

Input: {'order_id': 'ORD-1006', 'customer': 'Eve White', 'products': [{'name': 'Gaming Keyboard', 'price': 129.99, 'quantity': 1}, {'name': 'Gaming Mouse', 'price': 89.99, 'quantity': 1}], 'order_date': '2024-01-20', 'status': 'Processing'}
Product: Gaming Keyboard		Quantity: 1	Price: 129.99
Product: Gaming Mouse		Quantity: 1	Price: 89.99
Total price: 219.98000000000002

Input: {'order_id': 'ORD-1007', 'customer': 'Daniel Wilson', 'products': [{'name': 'External Hard Drive', 'price': 150.0, 'quantity': 1}], 'order_date': '2024-01-19', 'status': 'Delivered'}
Product: External Hard Drive		Quantity: 1	Price: 150.0
Total price: 150.0

Input: {'order_id': 'ORD-1008', 'customer': 'Fiona Black', 'products': [{'name': 'Wireless Speaker', 'price': 129.99, 'quantity': 1}], 'order_date': '2024-01-18', 'status': 'Cancelled'}
Product: Wireless Speaker		Quantity: 1	Price: 129.99
Total price: 129.99

Input: {'order_id': 'ORD-1009', 'customer': 'George Clark', 'products': [{'name': 'Smartwatch', 'price': 199.99, 'quantity': 1}, {'name': 'USB-C Cable', 'price': 14.99, 'quantity': 2}, {'name': 'Iphone 15', 'price': 600.99, 'quantity': 1}], 'order_date': '2024-01-17', 'status': 'Processing'}
Product: Smartwatch		Quantity: 1	Price: 199.99
Product: USB-C Cable		Quantity: 2	Price: 14.99
Product: Iphone 15		Quantity: 1	Price: 600.99
Total price: 830.96

Input: {'order_id': 'ORD-1010', 'customer': 'Hannah Green', 'products': [{'name': 'Desktop Computer', 'price': 1200.0, 'quantity': 1}, {'name': 'Monitor', 'price': 200.0, 'quantity': 1}, {'name': 'MX keys', 'price': 99.99, 'quantity': 1}], 'order_date': '2024-01-16', 'status': 'Shipped'}
Product: Desktop Computer		Quantity: 1	Price: 1200.0
Product: Monitor		Quantity: 1	Price: 200.0
Product: MX keys		Quantity: 1	Price: 99.99
Total price: 1499.99

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
dtype: object